:root {
  /*Palette*/
  --color-terracotta: #bf4646;
  --color-sand: #eddcc6;
  --color-cream: #fff4ea;
  --color-teal: #7eacb5;

  --bg-app: var(--color-cream);
  --card-bg: white;
  --text-main: #2c3e50;
  --accent: var(--color-terracotta);

  /*Typography*/
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*Background*/

  background-color: var(--bg-app);
  color: var(--text-main);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
